ao3-api==2.2.1
appnope 
argon2-cffi
argon2-cffi-bindings 
asttokens
attrs
backcall
backports.functools-lru-cache 
beautifulsoup4==4.10.0
bleach
certifi==2021.10.8
cffi
charset-normalizer==2.0.12
debugpy
decorator
defusedxml
entrypoints
executing
flit_core
idna==3.3
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils==0.2.0
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-widgets
lxml==4.8.0
MarkupSafe
matplotlib-inline
mistune
nbconvert
nbformat
nest-asyncio
notebook
packaging
pandocfilters
parso
pexpect
pickleshare
prometheus-client
prompt-toolkit
ptyprocess
pure-eval
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pyzmq
qtconsole
QtPy
requests==2.27.1
Send2Trash
sip==4.19.13
six
soupsieve==2.3.1
stack-data
terminado
testpath
tornado
traitlets
urllib3==1.26.8
wcwidth
webencodings==0.5.1
widgetsnbextension
zipp